---
layout: standard
title:  The Frosted House
---

.row
  .columns.small-4
  .columns.small-8
    %h1.text-left.chalk-hand.hide-for-small Welcome Home
    %h1.text-center.chalk-hand.show-for-small  Welcome Home

.row
  .columns.small-12
    .featured-images.hide-for-small
      %div= image_tag 'slider/caro1.jpg'
      %div= image_tag 'slider/caro2.jpg'
      %div= image_tag 'slider/caro3.jpg'
