---
layout: standard
title:  The Frosted House

slider_images:
  - caro1.jpg
  - caro2.jpg
  - caro3.jpg
---

.row
  .columns.large-12
    .featured-images
      - current_page.data.slider_images.each do |img|
        %div= image_tag "slider/#{img}"

.info-boxes-wraper
  .row
    .columns.large-4
      .info-box.info-box-circle
        = content_tag :h2, class: 'title artist' do
          = content_tag :span do
            The
          Artist

    .columns.large-4
      .info-box.info-box-center
        %h1.title.title-page Welcome Home

    .columns.large-4
      .info-box.info-box-circle
        %h2.title Reviews
