---
layout: standard
title:  The Frosted House

slider_images:
  - caro1.jpg
  - caro2.jpg
  - caro3.jpg
---

.row
  .columns.large-12
    .featured-images
      - current_page.data.slider_images.each do |img|
        %div= image_tag "slider/#{img}"
