---
layout: standard
title:  Home
---

.row
  .columns.small-4
    = link_to '/' do
      %h1.fa.fa-home Home
  .columns.small-4
    = link_to '/' do
      %h1.fa.fa-home Home
  .columns.small-4
    = link_to '/' do
      %h1.fa.fa-home Home
