---
layout:     standard
title:      Menu | The Frosted House
page_title: Menu
---

.row
  .columns.large-4
  .columns.large-8
    %h1.title.title-page-title= current_page.data.page_title


.content.content-page-content
  .row
    .columns.large-6
      %h2.title.title-section Coming Soon

    .columns.large-6
      .semicircle-left
